[Interface]
Address = 10.0.0.1/24
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o enX0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o enX0 -j MASQUERADE
ListenPort = 51820
PrivateKey = {{ wg_private_key.stdout }}


[Peer]
#gias
AllowedIPs = 10.0.1.20/32
PublicKey = {{ gias_public_key.stdout }}

[Peer]
#sudarsan
AllowedIPs = 10.0.1.21/32
PublicKey = {{ sudarsan_public_key.stdout }}

[Peer]
#Masnun
AllowedIPs = 10.0.1.22/32
PublicKey = {{ masnun_public_key.stdout }}

[Peer]
#Masnun
AllowedIPs = 10.0.1.23/32
PublicKey = {{ foysal_public_key.stdout }}
